{% load static %}
<div class="col-md-4 sidebar" id="sidebar">
        <aside>
            <div class="aside-body">
                <figure class="ads">
                    <img src="{% static 'images/ad.png' %}">
                    <figcaption>Advertisement</figcaption>
                </figure>
            </div>
        </aside>
        <aside>
            <h1 class="aside-title">Recent Post</h1>
            <div class="aside-body">
                <article class="article-fw">
                    <div class="inner">
                        <figure>
                            <a href="https://twitter.com/Ngunified/status/1093885333106757633" target="_blank">
                                <img src="{% static 'images/news/img-choco.png' %}">
                            </a>
                        </figure>
                        <div class="details">
                            <h1><a href="https://twitter.com/Ngunified/status/1093885333106757633" target="_blank">#CholateMama video coming</a></h1>
                            <p>
                            Just a teaser for @TimaSipoko - #ChocolateMama👑 #ChocolateMamaChallenge👑 #MusicVideo🎬 #NubianQueens Dripping melanin and honey, honey, honey.
                            </p>
                            <div class="detail">
                                <div class="time">February 08, 2019</div>
                                <div class="category"><a href="https://twitter.com/Ngunified/status/1093885333106757633" target="_blank">Music Video</a></div>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="line"></div>
                <article class="article-mini">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                    <img src="{% static 'images/news/img01.jpg' %}">
                            </a>
                        </figure>
                        <div class="padding">
                            <h1><a href="https://twitter.com/Umngaoriginal" target="_blank">#PanAfrikaKollection #EndaNemweya #AfricanOriginal #Fashion #FashionAfrica #africanfashion</a></h1>
                            <div class="detail">
                                <div class="category"><a href="https://twitter.com/Umngaoriginal" target="_blank">Travel</a></div>
                                <div class="time">January 21, 2019</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="article-mini">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="{% static 'images/news/img03.jpg' %}">
                            </a>
                        </figure>
                        <div class="padding">
                            <h1><a href="https://www.instagram.com/umngaoriginal/" target="_blank">#PanAfrikaKollection #EndaNemweya #AfricanOriginal #Fashion #FashionAfrica #africanfashion</a></h1>
                            <div class="detail">
                                <div class="category"><a href="https://twitter.com/Umngaoriginal" target="_blank">Travel</a></div>
                                <div class="time">January 21, 2019</div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="article-mini">
                    <div class="inner">
                        <figure>
                            <a href="single.html">
                                <img src="{% static 'images/news/img02.jpg' %}">
                            </a>
                        </figure>
                        <div class="padding">
                            <h1><a href="https://twitter.com/Umngaoriginal" target="_blank">#PanAfrikaKollection #EndaNemweya #AfricanOriginal #Fashion #FashionAfrica #africanfashion</a></h1>
                            <div class="detail">
                                <div class="category"><a href="https://twitter.com/Umngaoriginal" target="_blank">Travel</a></div>
                                <div class="time">January 21, 2019</div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </aside>
        <aside>
            <div class="aside-body">
                <form class="newsletter">
                    <div class="icon">
                        <i class="ion-ios-email-outline"></i>
                        <h1>Newsletter</h1>
                    </div>
                    <div class="input-group">
                        <input type="email" class="form-control email" placeholder="Your mail">
                        <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                        </div>
                    </div>
                    <p>By subscribing you will receive new articles in your email.</p>
                </form>
            </div>
        </aside>
    </div>