{% load static %}
<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
    <div class="sidebar-title for-tablet">Sidebar</div>

    <aside>
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="active">
                    <a href="#recomended" aria-controls="recomended" role="tab" data-toggle="tab">
                        <i class="ion-android-star-outline"></i> Latest
                    </a>
                </li>
                <li>
                    <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
                        <i class="ion-ios-chatboxes-outline"></i> Popular
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="recomended">
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single.html">
                                    <img src="{% static 'images/news/img23.jpg' %}" alt="Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">My dream role is yet to be written, something that is made for me and only ..</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Actress</a></div>
                                    <div class="time">December 22, 2016</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single.html">
                                    <img src="{% static 'images/news/img24.jpg' %}" alt="Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">Toothless Nonsense is a comedy show title I use to mock myself..</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Comedy</a></div>
                                    <div class="time">September 01, 2017</div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="article-mini">
                        <div class="inner">
                            <figure>
                                <a href="single.html">
                                    <img src="{% static 'images/news/img29.jpg' %}" alt="Article">
                                </a>
                            </figure>
                            <div class="padding">
                                <h1><a href="#">I wish to tell stories that can make the people love them..</a></h1>
                                <div class="detail">
                                    <div class="category"><a href="#">Photography</a></div>
                                    <div class="time">October 02, 2016</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tab-pane comments" id="comments">
                    <div class="comment-list sm">
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'images/news/img23.jpg' %}" alt="Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">My dream role is yet to be written, something that is made for me and only ..</a></h1>
                                    <div class="detail">
                                        <div class="category"><a href="#">Actress</a></div>
                                        <div class="time">December 22, 2016</div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </aside>

    <aside>
        <div class="aside-body">
            <div class="featured-author">
                <div class="featured-author-inner">
                    <div class="featured-author-cover" style="background-image: url('images/news/img30.jpg');">
                        <div class="badges">
                            <div class="badge-item"><i class="ion-star"></i> Featured</div>
                        </div>
                        <div class="featured-author-center">
                            <figure class="featured-author-picture">
                                <img src="{% static 'images/img01.jpg' %}" alt="Sample Article">
                            </figure>
                            <div class="featured-author-info">
                                <h2 class="name"></h2>
                                <div class="desc">@OVERHEADZ</div>
                            </div>
                        </div>
                    </div>
                    <div class="featured-author-body">
                        <div class="featured-author-count">
                            <div class="item">
                                <a href="https://www.facebook.com/OverHeadzShow/" target="_blank">
                                    <div class="name">Posts</div>
                                    <div class="value">208</div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="https://twitter.com/TimaSipoko" target="_blank">
                                    <div class="name">Stars</div>
                                    <div class="value">3,729</div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="https://www.facebook.com/OverHeadzShow/" target="_blank">
                                    <div class="icon">
                                        <div>More</div>
                                        <i class="ion-chevron-right"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="featured-author-quote">
                            "Join the crew as we decipher relevant topics and objecting our opinions in a rather awkward, funny, subjective, witty, necessary/unnecessary, and most importantly humane and honest manner. #OVERHEADZ"
                        </div>
                        <div class="block">
                            <h2 class="block-title">Photos</h2>
                            <div class="block-body">
                                <ul class="item-list-round" data-magnific="gallery">
                                    <li><a href="{% static 'images/news/img25.jpg' %}"><img src="{% static 'images/news/img25.jpg' %}" alt=""></a></li>
                                    <li><a href="{% static 'images/news/img21.jpg' %}"><img src="{% static 'images/news/img21.jpg' %}" alt=""></a></li>
                                    <li><a href="{% static 'images/news/img35.jpg' %}"><img src="{% static 'images/news/img35.jpg' %}" alt=""></a></li>
                                    <li><a href="{% static 'images/news/img32.jpg' %}"><img src="{% static 'images/news/img32.jpg' %}" alt=""></a></li>
                                    <li><a href="{% static 'images/news/img33.jpg' %}"><img src="{% static 'images/news/img33.jpg' %}" alt=""></a></li>
                                    <li><a href="{% static 'images/news/img37.jpg' %}"><img src="{% static 'images/news/img37.jpg' %}" alt=""></a></li>
                                    <li><a href="{% static 'images/news/img29.jpg' %}"><img src="{% static 'images/news/img29.jpg' %}" alt=""><div class="more">+2</div></a></li>
                                    <li class="hidden"><a href="{% static 'images/news/img26.jpg' %}"></a></li>
                                    <li class="hidden"><a href="{% static 'images/news/img15.jpg' %}"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="featured-author-footer">
                            <a href="#">See All Authors</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>




